.markdown-editor {
  @apply font-sans;
  --baseBg: theme("colors.gray.100.DEFAULT");
  --basePageBg: theme("colors.gray.0.DEFAULT");
  --baseBgHover: theme("colors.gray.0.DEFAULT");
  --baseBgActive: theme("colors.gray.0.DEFAULT");
  --baseBorder: theme("colors.gray.500.DEFAULT");
}

.mdxeditor-popup-container {
  @apply z-100;
  [role="dialog"] {
    @apply flex flex-col xs:flex-row;
  }
}

.markdown-editor-form .mdxeditor-toolbar {
  @apply sticky top-0 z-10;
}

.mdxeditor-toolbar {
  @apply sticky top-12 flex-wrap;
  & [class*="toolbarTitleMode"] {
    display: none; /* We render our custom source mode title instead */
  }
}

.markdown-editor.dark-theme {
  --baseBg: theme("colors.blue.100.dark");
  --basePageBg: theme("colors.gray.0.dark");
  --baseBgHover: theme("colors.gray.0.dark");
  --baseBgActive: theme("colors.gray.0.dark");
}

.markdown-editor table th,
.markdown-editor table td {
  @apply !align-middle;
}

.markdown-editor table tbody th {
  @apply !border-b !border-l-0 !border-r-0 !border-t-0 !border-gray-300 !pb-0 !pl-0 !pr-2 !pt-0 dark:!border-gray-300-dark;
}
.markdown-editor table tbody td {
  @apply !pb-0 !pl-0 !pr-3 !pt-2;
}

[data-editor-block-type="image"] {
  @apply w-full;
}

[data-editor-block-type="image"] img {
  @apply max-h-[300px];
}

[data-editor-block-type="image"] > :last-child:not(:only-child) {
  @apply hidden;
}

.editor-equation {
  cursor: default;
  user-select: none;
}
