.markdown-editor {
  @apply font-sans;
  --baseBg: theme("colors.gray.100.DEFAULT");
  --basePageBg: theme("colors.gray.0.DEFAULT");
  --baseBgHover: theme("colors.gray.0.DEFAULT");
  --baseBgActive: theme("colors.gray.300.DEFAULT");
  --baseBorder: theme("colors.gray.500.DEFAULT");
  --baseBase: theme("colors.gray.100.DEFAULT");

  .react-tweet-theme {
    --tweet-container-margin: 0 !important;
  }
  .tweets-wrapper {
    @apply grid auto-cols-fr grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-2.5;
    & > p {
      @apply m-0;
    }
    .react-tweet-theme {
      @apply !max-w-full;
    }
    & > *:last-child:nth-child(2n + 1) {
      @apply col-span-full;
    }
  }
}

.mdxeditor-popup-container {
  @apply z-100;
  [role="dialog"] {
    @apply flex max-w-full flex-col xs:flex-row;
    form {
      @apply max-w-full;
    }
  }
}
.mdxeditor-source-editor > div {
  .cm-gutters {
    @apply dark:bg-transparent dark:text-white;
  }
  .cm-activeLineGutter {
    @apply dark:bg-blue-200-dark;
  }
  @apply dark:bg-transparent dark:text-white;
  .Í¼16 {
    @apply dark:text-white;
  }
  .cm-activeLine {
    @apply dark:!caret-white;
  }
}

/* user mentions menu */
#typeahead-menu {
  @apply z-100;
}

.markdown-editor-form .mdxeditor-toolbar {
  @apply sticky top-0 z-10;
}

.mdxeditor-toolbar {
  @apply sticky top-12 flex-wrap;
  container-type: inline-size;
  & [class*="toolbarTitleMode"] {
    display: none; /* We render our custom source mode title instead */
  }
}

.markdown-editor.dark-theme {
  --baseBg: theme("colors.blue.100.dark");
  --basePageBg: theme("colors.gray.0.dark");
  --baseBgHover: theme("colors.gray.0.dark");
  --baseBgActive: theme("colors.gray.0.dark");
  --baseBase: theme("colors.gray.100.dark");
}

.markdown-editor table th,
.markdown-editor table td {
  @apply !align-middle;
}

.markdown-editor table tbody th {
  @apply !border-b !border-l-0 !border-r-0 !border-t-0 !border-gray-300 !pb-0 !pl-0 !pr-2 !pt-0 dark:!border-gray-300-dark;
}
.markdown-editor table tbody td {
  @apply !pb-0 !pl-0 !pr-3 !pt-2;
}

[data-editor-block-type="image"] {
  @apply mx-auto flex w-fit;
}

[data-editor-block-type="image"] > :last-child:not(:only-child) {
  @apply hidden;
}

.editor-equation {
  cursor: default;
  user-select: none;
}

/* Remove bullet/number from parent li if it contains a nested list */
.mdx-content-editable li > ul,
.mdx-content-editable li > ol {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.mdx-content-editable li > ul,
.mdx-content-editable li > ol {
  /* Remove marker from parent li */
  position: relative;
}
.mdx-content-editable li > ul:before,
.mdx-content-editable li > ol:before {
  content: none !important;
}
.mdx-content-editable li:has(> ul),
.mdx-content-editable li:has(> ol) {
  list-style-type: none !important;
  padding-left: 0 !important;
}
.mdx-content-editable a {
  @apply text-blue-800 decoration-blue-500 underline-offset-2 dark:text-blue-800-dark dark:decoration-blue-500-dark;
}

.mdxeditor-popup-container [role="dialog"] form > *:has(#link-title) {
  display: none;
}

div:has(.prism-code) + p:has(> br:only-child) {
  display: none;
}
