# General
SECRET_KEY="RandomSecretKey"

# Database config
DATABASE_URL=postgres://dev:password@postgres:5432/metaculus

# Frontend base url
FRONTEND_BASE_URL=http://localhost:3000

# Email
MAILGUN_API_KEY=token

# Redis
REDIS_URL=redis://localhost:6379

# AWS configuration
AWS_STORAGE_BUCKET_NAME=s3_bucket
AWS_ACCESS_KEY_ID=value
AWS_SECRET_ACCESS_KEY=value
AWS_S3_REGION_NAME=region
