[flake8]
inline-quotes = "
extend-ignore =
    E203,E501,E701,E712,Q003
max-line-length = 80
extend-select = B950
max-complexity = 55
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    lambda,
    scripts,
    venv,
    cdk/cdk.out,
    migrations
