{% extends "metac_ui/base.html" %}
{% load i18n metac_template_utils %}

{% block title %}Metaculus{% endblock %}

{% block jspreload %}
  <script>
    window.metacData.questions = {{questions_data | asjson}};
    window.metacData.projects = {{projects_data | asjson}};
    window.metacData.hotTopics = {{hot_topics | asjson}};
    window.metacData.hotCategories = {{hot_categories | asjson}};
    window.metacData.metaculus_token = "{{ METACULUS_TOKEN }}";
  </script>
{% endblock %}

{% block opg %}
  <meta property="og:url" content="{{request.build_absolute_uri}}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="AI Forecasting Demo" />
  <meta property="og:description" content="Discover how AI predicts the future by experimenting with prompts on Metaculus questions." />
  <meta property="og:url" content="{{request.build_absolute_uri}}" />
  <meta property="og:image" content="https://metaculus-media.s3.amazonaws.com/social.jpg"/>
  <meta property="og:image:alt" content="AI Forecasting Demo" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@metaculus" />
  <meta name="twitter:title" content="AI Forecasting Demo" />
  <meta name="twitter:image" content="https://metaculus-media.s3.amazonaws.com/social.jpg" />
{% endblock %}

{% block body %}
<meta name="csrf-token" content="{{ csrf_token }}">
<body class="bg-gradient-to-b from-metac-blue-100 from-20% to-metac-blue-200 to-50% dark:from-metac-blue-100-dark dark:to-metac-blue-200-dark">

{% include "metac_ui/header.html" %}

{% block content %}
    <div id="aiBenchmarkingDemo" class="mx-auto h-auto flex-auto mt-12 py-4 px-4 w-full items-stretch text-metac-blue-700 dark:text-metac-blue-700-dark bg-gradient-to-tl from-blue-300/30 via-blue-100/30 to-blue-400/30 dark:bg-metac-blue-800 dark:from-metac-blue-600/50 dark:via-metac-blue-800/30 dark:to-metac-blue-500/30"></div>
{% endblock %}

<flash-messages></flash-messages>
<div id="common-modals"></div>

{% include "metac_ui/footer.html" %}

<div id="user-feedback"></div>

</body>
{% endblock %}
