{% extends "admin/change_form.html" %}
{% load static %}

{% block inline_field_sets %}
    <div class="form-row">
        <a href="{% url 'admin:add-default-posts-to-project' original.id %}" class="addlink">
            Add Posts (set this as Post's Default Project)
        </a>
    </div>
    
    <div class="form-row">
        <a href="{% url 'admin:add-posts-to-project' original.id %}" class="addlink">
            Add Posts (add this to Post's General Projects)
        </a>
    </div>

    <div class="form-row field-show_on_homepage" style="margin-top: -10px">
        <h3>Project users: {{ original.override_permissions.count }} <a
                href="{% url 'admin:projects_projectuserpermission_changelist' %}?project={{ original.id }}">[Edit
            permissions]</a></h3>
    </div>
    {{ block.super }}
{% endblock %}
