name: Deploy dev.metaculus.com (staging)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy-to-dev:
    runs-on: ubuntu-22.04
    environment: dev_env
    env:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_APP: dev-metaculus-web
      NEXT_PUBLIC_APP_URL: "https://dev.metaculus.com"
      NEXT_PUBLIC_TURNSTILE_SITE_KEY: ${{ secrets.NEXT_PUBLIC_TURNSTILE_SITE_KEY }}
      NEXT_PUBLIC_POSTHOG_KEY: ${{ secrets.NEXT_PUBLIC_POSTHOG_KEY }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      NEXT_PUBLIC_DISALLOW_ALL_BOTS: ${{ NEXT_PUBLIC_DISALLOW_ALL_BOTS }}
      NEXT_PUBLIC_CDN_DOMAIN_NAME: ${{ NEXT_PUBLIC_CDN_DOMAIN_NAME }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build and deploy to Heroku
        run: |
          heroku container:login # uses the HEROKU_API_KEY
          ./scripts/deploy_to_heroku.sh
