name: Deploy play.metaculus.com (Experiments)

on:
  workflow_dispatch:

jobs:
  deploy-to-play:
    runs-on: ubuntu-22.04
    environment: play_env
    env:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_APP: play-metaculus-web
      NEXT_PUBLIC_APP_URL: "https://play.metaculus.com"
      NEXT_PUBLIC_TURNSTILE_SITE_KEY: ${{ secrets.NEXT_PUBLIC_TURNSTILE_SITE_KEY }}
      NEXT_PUBLIC_POSTHOG_KEY: ${{ secrets.NEXT_PUBLIC_POSTHOG_KEY }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      NEXT_PUBLIC_DISALLOW_ALL_BOTS: ${{ vars.NEXT_PUBLIC_DISALLOW_ALL_BOTS }}
      NEXT_PUBLIC_CDN_DOMAIN_NAME: ${{ vars.NEXT_PUBLIC_CDN_DOMAIN_NAME }}
      NEXT_PUBLIC_ALLOW_SIGNUP: ${{ secrets.NEXT_PUBLIC_ALLOW_SIGNUP }}
      NEXT_PUBLIC_MINIMAL_UI: ${{ secrets.NEXT_PUBLIC_MINIMAL_UI }}
      NEXT_PUBLIC_ALLOW_TUTORIAL: ${{ secrets.NEXT_PUBLIC_ALLOW_TUTORIAL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build and deploy to Heroku
        run: |
          curl https://cli-assets.heroku.com/install-ubuntu.sh | sh
          heroku container:login # uses the HEROKU_API_KEY
          ./scripts/deploy_to_heroku.sh
